/*СТАНДАРТНЫЕ НАСТРОЙКИ CSS*/@import url(reset.css);
*{
	box-sizing: border-box;
}
body{
	font-family: 'Raleway',"Helvetica", sans-serif;
	color: #bbb; 
	background-color: #666;
}
a{
	text-decoration: none;
	color: #bbb;
}
a:hover{
	color: #F07900;
	transition: 0.2s ease all;
}

.wrapper{
	max-width: 1024px;
	margin: 0 auto;
	
}	
						/*HEADER*/
	header{
		width: 100%;
		display: flex;
		height: 500px;
	}
		header 
		.photo-header{
			height: 100%;
			background-color: #555;
			flex: 1;
		}
			header 
			.photo-header 
			img{
				border-radius: 50%;
				display: block;
				margin: 0 auto;
				margin-top: 110px;
			}
		header 
		.info-header{
			height: 100%;
			background-color: #666;
			flex: 2;
			border: 1px solid #d66901;
			border-top: none;
			/*border-bottom: none;*/
		}
			header 
			#name{
				margin-top: 120px; 
				line-height: 45px;
				padding-left: 30px;
			}
				header 
				#nameEvg{
					font-size: 45px;
					text-transform: uppercase;
				}
				header 
				#surname{
					font-size: 55px;
					color: #F07900; 
					text-transform: uppercase;
				}
				header 
				.skills-briefly{
					width: 90%;
					margin: 0 auto;
					padding-top: 17px;
					margin-top: 100px;
					border-top: 1px solid #d66901;
				}
					header 
					.skills-briefly 
					div{
						display: inline-block;
						width: 30%;
						line-height: 30px;
					}
						header 
						.skills-briefly 
						p{
							display: inline-block;
							text-align: center;
							padding-left: 50px;
						}

						/*ABOUT ME*/
	.about-me{
		width: 100%;
		display: flex;
		height: 300px;
	}				
		.about-me
		.left-about-me{
			height: 100%;
			background-color: #666;
			flex: 1;
			border: 1px solid #d66901;
		}	
			.about-me
			.left-about-me
			h2{
				font-size: 50px;
				text-align: center;
				margin-top: 130px;	
				font-weight: bold;
				text-transform: uppercase;
			}	
		.about-me
		.right-about-me{
			height: 100%;
			background-color: #555;
			flex: 2;
		
		}	
			.right-about-me 
			p{
				padding:65px 50px 0 50px;
				line-height: 23px;
				text-align: justify;
			}		
				.right-about-me 
				p
				span{
					color: rgba(255,255,255,.9);
				}		
							/*SCILLS*/
	.scills{
		width: 100%;
		display: flex;
		height: 250px;
	}	
		.scills
		.left-scills{
			height: 100%;
			background-color: #555;
			flex: 1;
		}
		.scills
		.left-scills
		h2{
			font-size: 50px;
			text-align: center;
			margin-top: 105px;	
			font-weight: bold;
			text-transform: uppercase;
		}
		.scills
		.right-scills{
			height: 100%;
			background-color: #666;
			flex: 2;
			border: 1px solid #d66901;
		}
		.right-scills
		div{
			width: 80%;
			height: 40px;
			background-color: #3d3d3d;
			margin:17px 0 0 100px;
			position: relative;
		}
		.right-scills .js:before{
			content: "JS";
			position: absolute;
			left: -65px;
			top: 12px;
		}
			.right-scills .js:after{
				content: "70%";
				position: absolute;
				left: 0;
				top: 0;
				height: 40px;	
				width: 70%;
				background-color: #d66901;
				text-align: center;
				line-height: 40px;
				color: #3d3d3d;
				font-weight: bold;
			}
		.right-scills .html:before{
			content: "HTML";
			position: absolute;
			left: -65px;
			top: 12px;
		}
			.right-scills .html:after, .right-scills .css:after{
				content: "80%";
				position: absolute;
				left: 0;
				top: 0;
				height: 40px;	
				width:80%;
				background-color: #d66901;
				text-align: center;
				line-height: 40px;
				color: #3d3d3d;
				font-weight: bold;
			}
		.right-scills .css:before{
			content: "CSS";
			position: absolute;
			left: -65px;
			top: 12px;

		}
		.right-scills .git:before{
			content: "GIT";
			position: absolute;
			left: -65px;
			top: 12px;
		}
			.right-scills .git:after{
					content: "60%";
					position: absolute;
					left: 0;
					top: 0;
					height: 40px;	
					width:60%;
					background-color: #d66901;
					text-align: center;
					line-height: 40px;
					color: #3d3d3d;
					font-weight: bold;
				}
		
